attrs==26.1.0
autocommand==2.2.2
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
cheroot==11.1.2
CherryPy==18.10.0
colorama==0.4.6
cryptography==46.0.7
cssselect2==0.9.0
dbus-python==1.4.0
decorator==5.2.1
defusedxml==0.7.1
evdev==1.9.3
filelock==3.25.2
filetype==1.2.0
gpg==2.0.0b25
gps==3.27.5
hidapi==0.14.0
idna==3.11
importlib_metadata==8.7.1
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
kapidox==6.24.0
libevdev==0.13.1
lit==22.1.1.dev0
MarkupSafe==3.0.3
more-itertools==10.8.0
packaging==26.0
perf==0.1
pillow==12.1.1
pkg_resources==81.0.0
platformdirs==4.9.4
portend==3.2.1
psutil==7.2.2
pycairo==1.29.0
pycparser==3.0
PyGObject==3.54.5
PyQt5==5.15.11
PyQt5_sip==12.18.0
PySide6==6.10.2
PySocks==1.7.1
pyte==0.8.2
python-dateutil==2.9.0
python-xlib==0.33
pyudev==0.24.4
PyYAML==6.0.3
requests==2.33.0
setuptools==82.0.1
shiboken6==6.10.2
shiboken6-generator==6.10.2
six==1.17.0
tempora==5.8.1
thefuck==3.32
tinycss2==1.5.1
torbrowser-launcher==0.3.7
typing_extensions==4.15.0
urllib3==2.6.3
wcwidth==0.6.0
webencodings==0.5.1
wheel==0.46.3
xcffib==1.6.1
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
zc.lockfile==4.0
zipp==3.21.0
